<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769436740555-tjs3lv9te8a3j26039sk953lvvsemllc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769436740555-tjs3lv9te8a3j26039sk953lvvsemllc</string>
	<key>API_KEY</key>
	<string>AIzaSyBDHBP72txzNt1HnPovq4ajZV8b5m17_mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>769436740555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circularchain.circularchainmobile</string>
	<key>PROJECT_ID</key>
	<string>circular-chain-6769e</string>
	<key>STORAGE_BUCKET</key>
	<string>circular-chain-6769e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769436740555:ios:2242ca85067c173d81a44e</string>
</dict>
</plist>